/*========================================
            MOBILE RESPONSIVE
========================================*/

@media screen and (max-width:768px) {

    /* GENERAL */

    section {
        padding: 60px 20px;
    }

    h1 {
        font-size: 34px;
        line-height: 1.3;
    }

    h2 {
        font-size: 26px;
    }

    p {
        font-size: 15px;
        line-height: 1.7;
    }

    img {
        max-width: 100%;
        height: auto;
    }
    /*========================================
                PAGE HEADER
    ========================================*/

    .page-header {
        padding: 90px 20px 60px;
    }

    .page-header h1 {
        font-size: 36px;
        margin-bottom: 15px;
    }

    .page-header p {
        font-size: 16px;
    }

    /*========================================
                PROJECTS
    ========================================*/

    .projects-page {
        padding: 60px 20px;
    }

    .projects-grid {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .project-card {
        width: 100%;
    }

    .project-image {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .project-image img {
        width: 100%;
        height: 340px;
        border-radius: 20px;
        object-fit: cover;
    }

    .project-details {
        padding: 25px;
        text-align: center;
    }

    .project-details h2 {
        text-align: center;
        font-size: 26px;
    }

    .location {
        margin-bottom: 15px;
    }

    .project-details .btn {
        display: inline-block;
        margin-top: 15px;
    }

    /*========================================
                COMING SOON
    ========================================*/

    .coming-soon-card {
        min-height: 350px;
        padding: 30px 20px;
    }

    .coming-soon-content h2 {
        font-size: 26px;
    }

    .coming-soon-content p {
        font-size: 15px;
    }

    .coming-soon-content span {
        padding: 12px 24px;
        font-size: 14px;
    }

}