*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:'Poppins',sans-serif;
    background:#ffffff;
    color:#222;

}
.menu-toggle{
    display:none;
}
img{

    width:100%;
    display:block;

}

section{

    padding:90px 8%;

}

h1{

    font-size:48px;
    color:#0B2A5B;

}

h2{

    font-size:40px;
    color:#0B2A5B;
    text-align:center;
    margin-bottom:40px;

}

h3{

    color:#C8931A;

}

p{

    color:#555;
    line-height:1.8;

}



/* NAVBAR */

nav{
    height:80px;
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 8%;

    position:sticky;
    top:0;

    background:#fff;

    box-shadow:0 5px 20px rgba(0,0,0,.08);

    z-index:999;

}

.logo img{

    width:80px;

}

nav ul{

    display:flex;
    gap:50px;

    list-style:none;

}

nav a{

    color:#0B2A5B;
    text-decoration:none;
    font-weight:500;

}

.btn{
    
    background:#0B2A5B;
    color:#fff;
    padding:14px 28px;
    border-radius:50px;
    text-decoration:none;
    transition:.3s;

}

.btn:hover{

    background:#C8931A;

}

.btn-outline{

    border:2px solid #0B2A5B;
    color:#0B2A5B;
    padding:14px 28px;
    border-radius:50px;
    text-decoration:none;
    margin-left:15px;

}



/* HERO */

.hero{

    min-height:90vh;

    display:flex;

    align-items:center;

    justify-content:space-between;

    gap:80px;

}

.hero-left{

    flex:1;

}

.hero-left h3{

    margin:20px 0;

}

.hero-left p{

    max-width:550px;

    margin-bottom:35px;

}

.hero-right{

    flex:1;

}

.hero-right img{

    border-radius:20px;

}



/* ABOUT */

.about{

    background:#F7F9FC;

}

.about p{

    max-width:900px;

    margin:auto;

    text-align:center;

}



/*==============================
        PROJECT SECTION
==============================*/

.projects{
    padding:100px 8%;
    background:#fff;
}

.featured-project{
    max-width:1100px;
    margin:60px auto;
    text-align:center;
}

.featured-project h3{
    font-size:22px;
    color:#0B2A5B;
    margin-bottom:10px;
    font-weight:700;
}

.featured-project p{
    font-size:18px;
    color:#666;
    margin-bottom:30px;
}

.featured-project video{
    max-width:100%;
    height: auto;
    aspect-ratio:16/9;
    object-fit:cover;
    border-radius:24px;
    display:block;
    box-shadow:0 20px 45px rgba(0,0,0,.15);
    transition:.4s ease;
}

.featured-project:hover video{
    transform:scale(1.02);
}

.featured-project a{
    display:inline-block;
    margin-top:35px;
    padding:14px 34px;
    background:#0B2A5B;
    color:#fff;
    text-decoration:none;
    border-radius:40px;
    font-weight:600;
    transition:.3s;
}

.featured-project a:hover{
    background:#C8931A;
}
/* WHY */

.why{

    background:#0B2A5B;

    color:#fff;

}

.why h2{

    color:#fff;

}

.features{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

    gap:30px;

}

.feature{

    background:rgba(255,255,255,.08);

    padding:30px;

    border-radius:20px;

}

.feature p{

    color:#ddd;

}



/* SERVICES */

.services{

    background:#F7F9FC;

}

.services .card{

    text-align:center;

    font-size:20px;

    font-weight:600;

}



/* BLOGS */

.blogs .card{

    text-align:center;

}



/* CONTACT */

.contact{

    background:#0B2A5B;

    text-align:center;

}

.contact h2{

    color:#fff;

}

.contact p{

    color:#ddd;

    margin-bottom:30px;

}



/* FOOTER */

footer{

    background:#071D40;

    color:#fff;

    text-align:center;

    padding:30px;

}

